<div>

  <div p-3>
    <p >Action</p>
    <p></p>
  </div>
<ngx-slick-carousel class="carousel"
#slickModal="slick-carousel" [config]="slideConfig"  arrows = true>
    <ng-container   *ngFor="let action of action" >
      <div ngxSlickItem  class="card">
        <a [routerLink]="['/singleSearch',action.id] ">
      <img   [src] = 'action.image.medium' class= "card-img img-fluid"></a>

      </div>
    </ng-container>
  </ngx-slick-carousel>

  <div p-3>
    <p>Adventure</p>
    <p></p>
  </div>
<ngx-slick-carousel class="carousel"
#slickModal="slick-carousel" [config]="slideConfig"  arrows = true>
    <ng-container   *ngFor="let adventure of adventure" >
      <div ngxSlickItem  class="card">
        <a [routerLink]="['/singleSearch',adventure.id] ">
      <img   [src] = 'adventure.image.medium' class= "card-img img-fluid"></a>

      </div>
    </ng-container>
  </ngx-slick-carousel>

  <div p-3>
    <p>Thriller</p>
    <p></p>
  </div>
<ngx-slick-carousel class="carousel"
#slickModal="slick-carousel" [config]="slideConfig"  arrows = true>
    <ng-container   *ngFor="let thriller of thriller" >
      <div ngxSlickItem  class="card" >
        <a [routerLink]="['/singleSearch',thriller.id] ">
      <img   [src] = 'thriller.image.medium' class= "card-img img-fluid"></a>

      </div>
    </ng-container>
  </ngx-slick-carousel>

    <div p-3>
      <p>Comedy</p>
    </div>

 <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel" [config]="slideConfig">

    <ng-container   *ngFor="let comedy of comedy" >
        <div ngxSlickItem class="card" >
      <a [routerLink]="['/singleSearch',comedy.id] ">
      <img class= "card-img img-fluid" [src] = 'comedy.image.medium'></a>
      </div>
    </ng-container>
  </ngx-slick-carousel>

      <div p-3>
        <p>Science-Fiction</p>
      </div>

      <ngx-slick-carousel class="carousel"
      #slickModal="slick-carousel" [config]="slideConfig">
      <ng-container   *ngFor="let sci of sci" >

        <div ngxSlickItem class="card" >
        <a [routerLink]="['/singleSearch',sci.id] ">
        <img class= "card-img img-fluid" [src] ='sci.image.medium'></a>
        </div>
      </ng-container>
    </ngx-slick-carousel>

    <div p-3>
      <p>Romance</p>
    </div>

   <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel" [config]="slideConfig">
    <ng-container   *ngFor="let romance of romance" >
      <div ngxSlickItem class="card" >
      <a [routerLink]="['/singleSearch',romance.id] ">
      <img class= "card-img img-fluid" [src] = 'romance.image.medium'></a>
      </div>
    </ng-container>
  </ngx-slick-carousel>

  <div p-3>
    <p>Drama</p>
  </div>

  <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel" [config]="slideConfig">
    <ng-container   *ngFor="let drama of drama" >
      <div ngxSlickItem class="card" >
      <a [routerLink]="['/singleSearch',drama.id] ">
      <img class= "card-img img-fluid" [src] = 'drama.image.medium'></a>
      </div>
    </ng-container>
  </ngx-slick-carousel>


</div>

